# *************************************************
#
# NLP/ML System - Configuration Settings
#
# *************************************************

[PATHS]
test_path = 'data/test.csv'
train_path= 'data/train.csv'
test_X_path = 'data/test_X.npy'
train_X_path= 'data/train_X.npy'
train_Y_path= 'data/train_Y.npy'
validation_X_path= 'data/validation_X.npy'
validation_Y_path= 'data/validation_Y.npy'

[PARAMS]
learning_rate: 0.001
img_height: 28
img_width: 28
channels: 1
filter_sizes: [5,5]
num_filters: 32
epochs: 50
batch_size: 250
num_classes: 10
evaluate_every: 5